<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <!-- Container for buttons at the top left corner -->
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="#">FAQ</a>
                <a href="#">Help</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </header>



    <section>
        <div class="content">
            <h1>Welcome to Duolog</h1>
            <img src="../static/images/duolog.png" alt="Duolog Logo" class="logo">
            <p>Your personal practice assistant</p>
            <a href="{{ url_for('file_index') }}" class="cta-button">Get Started!</a>
        </div>
    </section>

</body>
</html>